/* Configuración global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #0d0e12;
}

input {
    display: none;
}

.container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

h1 {
    font-weight: bold;
    font-size: 28px; /* Reduce el tamaño de la fuente para móviles */
    position: relative;
    margin: 20px 0;
    color: white;
}
p{
    color: white;
}

h1::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: rgb(2, 192, 106);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0e12;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.filter-section {
    margin: 20px 0;
}

#filterButton {
    background-color: #27ae60;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#filterButton:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}

#filterButton:active {
    transform: scale(0.95);
}

#filterContainer {
    margin-top: 10px;
    background-color: #0d0e12;
    padding: 15px;
    border-radius: 5px;
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

#filterContainer.show {
    max-height: 200px;
}

.hidden {
    display: none;
}


@keyframes animate {
    0% {
        width: 80px;
    }

    50% {
        width: 160px;
    }

    100% {
        width: 80px;
    }
}

.top-content {
    background-color: #1c1f25;
    width: 100%;
    margin: 0 auto 20px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 5px #5b6372;
    padding: 10px 0;
}

label {
    flex: 1 1 100px; /* Hace que cada label tenga un tamaño mínimo y se expanda */
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: .5s;
    background-color: #1c1f25;
    max-width: calc(100% / 6 - 20px); /* Ajusta el tamaño máximo de cada label según el contenedor */
}
h5 img{
    width: 100%;
    height: auto;
    max-width: 80px; /* Tamaño máximo de la imagen en pantallas grandes */
    border-radius: 50%;
    transition: .5s;
    object-fit: cover;
    cursor: pointer;
}

label img {
    width: 100%;
    height: auto;
    max-width: 80px; /* Tamaño máximo de la imagen en pantallas grandes */
    border-radius: 50%;
    transition: .5s;
    object-fit: cover;
}

label img:hover {
    transform: scale(1.1);
}

label:hover {
    color: #979797;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Por defecto, 5 columnas */
    grid-gap: 10px;
}

.pic {
    position: relative;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Comienzan ocultas */
    transform: scale(0.95); /* Comienzan ligeramente reducidas */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición de opacidad y escala */
}

.pic img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Transición al agrandarse */
}

.pic:hover img {
    transform: scale(1.05); /* Agranda la imagen cuando se pasa el mouse */
}

.pic.visible {
    opacity: 1; /* Se muestran cuando son visibles */
    transform: scale(1); /* Regresan al tamaño normal */
}



.photo-gallery .pic {
    display: none;
    opacity: 0; /* Ocultas por defecto */
    transform: scale(0.95); /* Ligera reducción por defecto */
}

/* Reglas de los radio buttons */
#check1:checked ~ .container .photo-gallery .pic {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check2:checked ~ .container .photo-gallery .birdsummon {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check3:checked ~ .container .photo-gallery .beastlight {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check4:checked ~ .container .photo-gallery .dasvicgeta {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check5:checked ~ .container .photo-gallery .genat {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check6:checked ~ .container .photo-gallery .god {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check7:checked ~ .container .photo-gallery .nabo {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check8:checked ~ .container .photo-gallery .iceblade {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check9:checked ~ .container .photo-gallery .jinx {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check10:checked ~ .container .photo-gallery .lachancla {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check11:checked ~ .container .photo-gallery .leafy {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check12:checked ~ .container .photo-gallery .newbleed {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}
#check13:checked ~ .container .photo-gallery .pichirrin {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}

#check14:checked ~ .container .photo-gallery .anemone {
    display: block;
    opacity: 1; /* Aparecen */
    transform: scale(1); /* Escala normal */
}


/* Media query para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }

    .text-item {
        font-size: 12px;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .text-item img {
        max-width: 30px;
    }

    .text-item strong {
        font-size: 14px;
    }
}

/* Media query para pantallas medianas */
@media (min-width: 769px) and (max-width: 1200px) {
    .photo-gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
    }

    label img {
        max-width: 60px; /* Tamaño máximo de la imagen en pantallas medianas */
    }
}

/* Media query para pantallas grandes (computadoras) */
@media (min-width: 1201px) {
    .photo-gallery {
        grid-template-columns: repeat(5, 1fr); /* 5 columnas en pantallas grandes */
    }
}



.filter-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

#toggle-filters2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#toggle-filters2.move-left {
    left: 39%;
    transform: translateX(0);
}

#filter-options2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#filter-options2.visible {
    opacity: 1;
    pointer-events: all;
}

.filter-btn2 {
    background-color: #2e2e2e;
    color: white;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn2:hover {
    background-color: #3d3d3d;
    transform: scale(1.05);
}

.filter-btn2:active {
    background-color: #505050;
    transform: scale(0.95);
}

.filter-btn2:focus {
    outline: none;
    box-shadow: 0 0 5px #ffffff;
}

.filter-dropdown-container2 {
    position: relative;
}

.filter-dropdown2 {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2e2e2e;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.filter-dropdown2 a {
    color: white;
    padding: 5px 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.filter-dropdown2 a:hover {
    background-color: #3d3d3d;
}

.filter-dropdown-toggle2 {
    position: relative;
}

.filter-dropdown.hidden2 {
    display: none;
}
